<div class="main-container">
  <div class="details-container">
    <p class="telangana">Telangana</p>
    <h3>Excise Department</h3>

    <div class="sub-div1">
      <div class="services-card">
        <div class="fa fa-check check-icon"></div>
        <div>
          <p>How to Regester</p>
          <h5>Profile</h5>
        </div>
      </div>

      <div class="services-card">
        <div class="fa fa-check check-icon"></div>
        <div>
          <p>Data Analysis</p>
          <h5>Services</h5>
        </div>
      </div>
    </div>

    <div class="sub-div1">
      <div class="services-card">
        <div class="fa fa-check check-icon"></div>
        <div>
          <p>New License</p>
          <h5>Application</h5>
        </div>
      </div>

      <div class="services-card">
        <div class="fa fa-check check-icon"></div>
        <div>
          <p>24 Hours</p>
          <h5>Support</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img
      src="https://w0.peakpx.com/wallpaper/191/846/HD-wallpaper-charminar-journey-south-charming-place-india-travel-hyderabadwala.jpg"
      alt="charminar"
      class="charminar-img"
    />
  </div>
</div>
