<div class="signup-component">

    <div class="form-container">

        <form type='submit' class="form-el">
            <h3 class="sign-up-heading">SIGN UP</h3>
            <input type="text" placeholder="Username" class="input" required/>
            <input type="text" placeholder="Email Address" class="input" required/>
            <input type="text" placeholder="Password" class="input" required/>
            <input type="text" placeholder="Confirm Password" class="input" required/>
            <button type="submit" class="submit-btn">Sign Up</button>
        </form>
        <p>
            ALREADY HAVE AN ACCOUNT ?    <a [routerLink]="['/login']">SIGN IN</a>
        </p>
        <p>
            GOTO TO HOME <a href="#">HOME</a>
        </p>
    </div>
    <div class="right-side-container">
        <h2>Telangana Excise <br> Deparatmemt</h2>
        <p class="descrption">Enter your details to create your account.</p>
    </div>



</div>